/*.eq_display_area{
    border: 1px solid;
    border-radius: 5px;
    margin: 30px 30px 30px 30px;
  }*/

.eq_display_area{
    background-color: #90d0ff;
    border-radius: 5px;
    /*border: 1px solid #5180a2;*/
    box-shadow: 5px 5px 5px grey;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
  
.sim_area{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin: 30px 30px 30px 30px;
    width: 840px
  }

.eq_display_area p {
  text-align: center;
  margin: 30px 30px 30px 30px;
}
.eq_display_area {
  display:block;
}

.matrix{
    width: 300px;
}
